

  
  .movie-carousel-container::-webkit-scrollbar {
    display: none; 
  }
  
  .movie-carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 1rem 0;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    gap: 0.5rem; /* Add some space between cards */
  }
  
  .movie-card-container {
    flex: 0 0 auto;
    width: calc(100% / 5); 
    max-width:100% / 5; 
  }
  
  
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .carousel-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .left-arrow {
    left: -15px;
  }
  
  .right-arrow {
    right: -15px;
  }
  
  /* Responsive adjustments */
@media (max-width: 1199px) {
    .movie-card-container {
      width: calc(100% / 4);  
    }
  }
  
  @media (max-width: 767px) {
    .movie-card-container {
      width: calc(100% / 3); 
    }
  }
  
  @media (max-width: 575px) {
    .movie-card-container {
      width: calc(100% / 2); 
    }
  }